<?xml version="1.0" encoding="UTF-8"?>
<config>
  <plate>
    <metadata key="index" value="3"/>
  </plate>
  <filaments>
    <filament id="1" tray_info_idx="GFL99" type="PLA" color="#F95D73" used_m="10.5" used_g="31.2" used_for_object="true" used_for_support="false"/>
    <filament id="2" tray_info_idx="GFL00" type="PETG" color="#00FF00" used_m="5.2" used_g="15.8" used_for_object="true" used_for_support="true"/>
  </filaments>
  <objects>
    <object identify_id="127" name="result (1).obj_A" skipped="false"/>
    <object identify_id="128" name="result (2).obj_B" skipped="true"/>
    <object identify_id="129" name="wipe_tower" skipped="false"/>
  </objects>
</config>